# ĐỒ ÁN CUỐI KÌ
Môn học: Lập trình khoa học dữ liệu

## Thông tin thành viên
| STT | Họ tên | MSSV |
|:-------|:------:| :------:|
|  1  |  Nguyễn Gia Hân | 19127134 |
|  2  |  Phạm Minh Tú  | 19127611 |

## I. Import các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## II. Thu thập dữ liệu

### Chủ đề của dữ liệu là gì ? Nguồn của dữ liệu

Chủ đề của dữ liệu: Thông tin tuyển dụng về ngành khoa học dữ liệu trên www.glassdoor.com \
Nguồn của dữ liệu: https://www.kaggle.com/rashikrahmanpritom/data-science-job-posting-on-glassdoor?fbclid=IwAR3kOAZB29_Dq5bubOHASAbqnU7n4-a3eSwmwbwM_3rPRqZmVyIK6ntSxZ0

### Tác giả có cho phép bạn sử dụng dữ liệu? Kiểm tra về giấy phép của dữ liệu

Tác giả có cho phép sử dụng tài liệu này. \
Theo license: CC0: Public Domain.

### Tác giả đã thu thập dữ liệu như thế nào?

Dữ liệu này được thu thập bằng cách Web scrapping, Data cleaning & EDA code các tinh tuyển dụng liên quan đến vị trí 'Data Scientist' từ www.glassdoor.com ở USA.

## III. Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [2]:
cols = ['Job Title','Salary Estimate', 'Rating', 'Company Name', 'Location', 'Sector']
raw_data = pd.read_csv('data.csv')
raw_data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,31,1,1,1,0,0,1,1,data scientist,na
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,...,-1,0,0,0,0,0,0,0,data scientist,na
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,...,-1,1,1,1,0,0,1,0,data scientist,na
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,-1,1,0,1,1,0,0,1,data scientist,na
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,44,1,1,0,0,0,1,0,data scientist,na

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột?

In [3]:
n_rows, n_cols  = raw_data.shape
print('Số dòng:', n_rows)
print('Số cột:', n_cols)

Số dòng: 660
Số cột: 27

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Theo file mô tả dữ liệu và theo quan sát sơ bộ thì một dòng là thông tin của một bài đăng tuyển dụng nhân sự của công ty về các vị trí công việc liên quan đến 'Data Science'. \
Có vẻ như không có dòng nào có nội dung lệch lạc so với chủ đề của dữ liệu.

### Dữ liệu có các dòng bị lặp không?

In [28]:
duplicated_rows = raw_data[raw_data.duplicated()]
have_duplicated_rows = len(duplicated_rows) != 0
have_duplicated_rows

True

Vậy dữ liệu này có các dòng bị trùng lặp.

### Mỗi cột có ý nghĩa gì?

Theo file mô tả dữ liệu thì: 
- Job Title: Tên của công việc được tuyển dụng 
- Salary Estimation: Mức lương cho công việc cụ thể đó 
- Job Description: Mô tả đầy đủ về công việc đó 
- Rating: Xếp hạng của bài đăng đó 
- Company: Tên công ty 
- Location: Vị trí của công ty 
- Headquarter: Vị trí của trụ sở chính 
- Size: Tổng số nhân viên trong công ty đó 
- Type of ownership: Mô tả loại hình công ty, tức là trang trại phi lợi nhuận / nhà nước / tư nhân, v.v. 
- Sector: Lĩnh vực mà công ty đó làm việc
- Revenue: Tổng doanh thu của công ty

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [29]:
raw_data.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Type of ownership     object
Industry              object
Sector                object
Revenue               object
min_salary             int64
max_salary             int64
avg_salary             int64
job_state             object
same_state             int64
company_age            int64
python                 int64
excel                  int64
hadoop                 int64
spark                  int64
aws                    int64
tableau                int64
big_data               int64
job_simp              object
seniority             object
dtype: object

### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào?
Phần trăm các giá trị thiếu là bao nhiêu?  
Min? max? Có gì bất thường không?

In [30]:
# lấy tất cả các cột có dữ liệu numeric
numeric_cols = raw_data.select_dtypes(include=np.number)
numeric_cols.dtypes

numeric_cols.iloc[:, ].dropna()
raw_data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,31,1,1,1,0,0,1,1,data scientist,na
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,...,-1,0,0,0,0,0,0,0,data scientist,na
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,...,-1,1,1,1,0,0,1,0,data scientist,na
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,-1,1,0,1,1,0,0,1,data scientist,na
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,44,1,1,0,0,0,1,0,data scientist,na

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào? 
Phần trăm các giá trị thiếu là bao nhiêu?  
Có bao nhiêu giá trị khác nhau? Hiển thị một vài  
Có gì bất thường không?

In [31]:
categorical_cols = raw_data.select_dtypes(exclude=np.number)
categorical_cols.dtypes

Job Title            object
Salary Estimate      object
Job Description      object
Company Name         object
Location             object
Headquarters         object
Size                 object
Type of ownership    object
Industry             object
Sector               object
Revenue              object
job_state            object
job_simp             object
seniority            object
dtype: object

## IV. Đưa ra các câu hỏi cần trả lời
Câu hỏi là gì?  
Lợi ích của việc tìm ra câu trả lời là gì?

- Xếp hạng mức độ đánh giá đối với từng công việc, liệu lương có thực sử ảnh hưởng đển kết quả đánh giá đó hay không ?
- Những lĩnh vực nào có nhu cầu về 'Data Science' nhiều nhất
- Các kĩ năng tiên quyết nhất của 1 người làm về 'Data Science' mà đa số phần lớn các công ty đều yêu cầu (mức độ phổ biến của kĩ năng đó)
- Top 10 công ty đáng để đi làm nhất.

## V. Tiền xử lý + phân tích dữ liệu để trả lời từng câu hỏi

## VI. Reflection
Từng thành viên: 
Bạn đã gặp những khó khăn gì?  
Từng thành viên: Bạn đã học được gì?  
Nhóm của bạn: Nếu có nhiều thời gian hơn, bạn sẽ làm gì?

## VII. References